*.js
!jest.config.js
*.d.ts
node_modules/

# CDK asset staging directory
.cdk.staging
cdk.out


dist/
lib/**/*.js
lib/**/*.js.map

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.tsbuildinfo

.env

.vscode/
.idea/

.DS_Store
Thumbs.db